header {
    text-align: center;
    background-color: #f8f1e6; /* Warmer beige */
    color: #d4a661; /* Gold text */
    padding: 1rem;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
  }
  
  .book-list, .new-book, .delete-book {
    width: 30%;
  }
  
  .book-list {
    h3 {
      color: #d4a661; /* Gold */
      margin-bottom: 1rem;
    }
  
    .book-card-container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  
    .book-card {
      flex: 1 0 calc(25% - 2rem); /* Take up all available space on the margin's row with margin */
      margin-bottom: 2rem; /* Added margin between rows */
      background-color: #f8f1e6; /* Warmer beige */
      border: 1px solid #e0d7cb; /* Lighter beige border */
      padding: 1.5rem;
      border-radius: 12px; /* Increased border radius for a softer look */
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); /* Enhanced box shadow for depth */
      transition: transform 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.05);
      }
  
      .book-title-container {
        display: flex;
        flex-direction: column; /* Display title and author vertically */
        align-items: center;
      }
  
      .book-title {
        margin-bottom: 0.5rem;
        color: #5c4637; /* Darker brown text */
        font-size: 1.5rem; /* Increased font size for the title */
        font-weight: bold; /* Added bold font weight */
        text-align: center; /* Center-align text */
      }
  
      .book-author {
        color: #8a725d; /* Lighter brown text */
        font-style: italic; /* Added italic style for author */
      }
  
      .book-image {
        max-width: 100%;
        height: auto;
        margin-top: 1rem; /* Increased margin between title and image */
        border-radius: 8px; /* Slight border radius for the image */
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Lighter box shadow for the image */
      }
    }
  }
  
  .new-book, .delete-book {
    margin-top: 2rem;
  
    label {
      display: block;
      margin-bottom: 0.5rem;
      color: #5c4637; /* Darker brown text */
    }
  
    input {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid #e0d7cb; /* Lighter beige border */
      border-radius: 4px;
    }
  
    button {
      background-color: #d4a661; /* Gold */
      color: #fff; /* White text */
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 1rem;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: #b0823b; /* Darker gold on hover */
      }
    }
  
    select {
      width: 100%;
      padding: 0.8rem;
      margin-bottom: 1rem;
      border: 1px solid #e0d7cb; /* Lighter beige border */
      border-radius: 4px;
    }
  }
  